footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
    background-image: linear-gradient(#0086CF, #005D8F);
    color: white;
}

footer a {
    display: flex;
    align-items: center;
}

