<mat-card>
  <mat-card-title>
    <div class='step-circle'>
      <div>Step</div>
      <div> 1 </div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>
    Learn the basics
  </mat-card-subtitle>
  <mat-card-content> You want to quit smoking some day, but not today. No problem!
    Learn some of the basics to help plan for your future &hellip;
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>
    <div class='step-circle'>
      <div>Step</div>
      <div> 2 </div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>
    Choose your medicine
  </mat-card-subtitle>
  <mat-card-content>
    Read to quit in the next month (or so)? It's time to choose
      the right stop-smoking medicine for you.Learn more   &hellip;
  </mat-card-content>
</mat-card>
