<h3>Keys to surviving nicotine withdrawal?</h3>
<div>
    <ul>
        <li>
            Have a plan for what you will do &mdash; other than
            smoking &mdash; when you have a craving.
        </li>
        <li>
            Stick to this plan.
        </li>
        <li>
            Use a stop-smoking medicine.
        </li>
        <li>
            If you slip and smoke, don't give up. Recommit and
            keep going.
        </li>
    </ul>
</div>
<img src='assets/steps/key.jpg' />
<p>
    Step2 2&ndash;6 of this program will help you learn how to
    do each of these.
<div>
    <button mat-flat-button class='full-width-field' (click)="onRead();">
        Mark as read
    </button>
</div>
