<h2>Learn the basics</h2>

<div>
  <img src="assets/start-flag.gif" />
</div>

<div id="main-content">
  <p>
    Whether you are ready to quit smoking today or just thinking about it for
    tomorrow (or next month or next year), following GEMS's 6 steps will help
    you succeed.
  </p>

  <p>
    Review the topics below to learn the answers to some common questions to get
    started.
  </p>

  <mat-card routerLink="1/a">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title>Why is nicotine so addictive?</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card routerLink="b">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title>What is nicotine withdrawal?</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card routerLink="c">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title
        >What are the keys to surviving withdrawal?</mat-card-title
      >
    </mat-card-header>
  </mat-card>
  <mat-card routerLink="d">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title>Why is tobacco smoke harmful?</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card routerLink="e">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title>What are the risks of smoking?</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card routerLink="f">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title>What are the benefits of quitting?</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card routerLink="g">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title>Can e-cigarettes help me stop smoking?</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card routerLink="h">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title>Are e-cigarettes safe?</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card routerLink="i">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title
        >Are organic and all-natural cigarettes safe?</mat-card-title
      >
    </mat-card-header>
  </mat-card>
  <mat-card routerLink="j">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title>What should I know if I take medications?</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card routerLink="k">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title>What <i>else</i> should I know?</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card routerLink="l">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title>How do I use this program?</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
