@import "../app.component.scss";

h2,
h3,
h4 {
  color: $dark-blue;
  padding-left: 15px;
}

.step-check {
  // background-image: url("/assets/steps/check_circle_unchecked.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  min-width: 20px;
  min-height: 20px;
  padding-left: 5px;
}

.unchecked {
  background-image: url("/assets/steps/check_circle_unchecked.svg");
}
.checked {
  background-image: url("/assets/steps/check_circle_checked.svg");
}

#main-component {
  padding: 10px;
}

.mat-card {
  cursor: pointer;
}

button {
  background-color: $rave-green;
  color: white;
  cursor: pointer;
  font-size: 120%;
  font-weight: 600;
  padding: 20px 0 20px 0;
}

.light-green-button {
  background-color: $light-green !important;
  color: black;
}

.blue-button {
  background-color: $dark-blue;
  color: white !important;
}

.mat-dialog-title {
  background-color: $light-blue;
}

.card-expand {
  border: 1px solid gray;
  margin: 5px;

  .mat-expansion-panel-header-title {
    font-weight: bold;
  }
}

mat-card.negative-emotion-card {
  border: 1px solid $light-blue;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  .mat-card-title {
    background-color: $light-blue;
    color: $dark-blue;
    padding: 5px;
  }
}

// https://davidwalsh.name/css-flip
.flip-container {
  perspective: 1000px;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.flip-container.flipped .flipper {
  transform: rotateY(180deg);
}

.flipper {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
  width: 100%;
  height: 100%;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 5px 15px 15px;
  text-align: center;

  img {
    height: 56px;
    width: auto;
  }
}

.front {
  background-color: $light-blue;
}

.back {
  background-color: $light-green;
  transform: rotateY(180deg);
}

li.pill {
  border: 1px solid #abbe8c;
  list-style-type: none;
  padding: 15px;
  border-bottom-left-radius: 15% 100%;
  border-bottom-right-radius: 15% 100%;
  border-top-left-radius: 15% 100%;
  border-top-right-radius: 15% 100%;
  // Clear float
  overflow: auto;
  width: 100%;

  div.pill-title {
    float: left;
    background-color: $light-green;
    border: 1px solid $dark-green;
    border-radius: 50%;
    font-weight: bold;
    height: 100px;
    width: 100px;
    padding: 15px;
    text-align: center;
  }

  div.pill-content {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.negative-emotion-card {
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 10px;
}

.withdrawal-tile {
  border: #707070;
  border-radius: 20px;
  box-shadow: 0 6px 6px $gray;
  cursor: pointer;
  text-align: center;
}

p.small-blue-text {
  color: $blue-text;
  font-size: 13px;
}

.mat-grid-tile .mat-grid-tile-footer,
.mat-grid-tile .mat-grid-tile-header {
  background-color: $light-blue;
  color: $dark-blue-text;
  justify-content: center;
}

ul.highlight-list {
  padding-left: 0;
  li {
    background-color: $light-blue;
    border-radius: 4px;
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 5px 5px 8px 8px;
  }
  li:before {
    display: inline-block;
    padding-right: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
    content: "\2022";
  }
}
