<h3>Can using an e&ndash;cigarette help me stop smoking?</h3>
<p>
    The Federal Drug Administration has not found any e&ndash;cigarette
    to be safe <i>and</i> effective in helping people stop smoking.
</p>
<p>
    In fact, many people find that using an e&ndash;cig or vape pen makes
    it harder to quit smoking. Instead of giving up cigarettes,
    they end up smoking and vaping. This ends up increasing their
    chances [text missing]
</p>
<div>
    <img src='assets/steps/nicotine-cycle.gif' />
</div>
<p>
    If your goal is to stop smoking, consider using an FDA&ndash;approved
    stop&ndash;smoking medicine, like the nicotine patch or gum,
    instead of vaping. Research has proven that these products can
    help you stop smoking and they don't have the same risks as
    e&ndash;cigarettes.
</p>
<p>Learn more about nicotine replacement therapy in Step 2.</p>
<div>
    <button mat-flat-button class='full-width-field' (click)="onRead();">
        Mark as read
    </button>
</div>
