<h3>Are e-cigarettes safe?</h3>
<p>
    No. E-cigarettes (also called e-cigs, vaporizers, vape pens, e-pens
    and e-hookahs) are thought to be safer than smoking tobacco, but
    they are not safe.
</p>
<p>
    Use of e-cigarettes can cause respiratory disease, poisoning
    (from touching or drinking the "vape juice"), and burns and
    injuries from vape pens exploding in people's mouths or pockets.
    Vaping has also been linked with a (continued ...)
</p>
<img src='assets/steps/e-cigarette-collection.png' />
<p>
    The mid- to long-term effects of e-cigarettes are not yet known,
    since these projects have only been on the market since 2007,
    but the (continued ...)
</p>
<p>
    As of 2019, the Centers for Disease Control recommends people
    not vape or use e-cigarettes.
<div>
    <button mat-flat-button class='full-width-field' (click)="onRead();">
        Mark as read
    </button>
</div>
