<mat-grid-list cols="3" rowHeight="130px">
  <mat-grid-tile>
    <div class='gem-tile'>
      <app-gem-top-view gemType="novice" gemSize="large"></app-gem-top-view>
      <p>Novice</p>
    </div>
  </mat-grid-tile>
   <mat-grid-tile>
    <div class='gem-tile'>
      <app-gem-top-view gemType="explorer" gemSize="large"></app-gem-top-view>
      <p>Explorer</p>
    </div>
  </mat-grid-tile>
    <mat-grid-tile>
    <div class='gem-tile'>
      <app-gem-top-view gemType="adventurer" gemSize="large"></app-gem-top-view>
      <p>Adventurer</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class='gem-tile'>
      <app-gem-top-view gemType="champion" gemSize="large"></app-gem-top-view>
      <p>Champion</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class='gem-tile'>
      <app-gem-top-view gemType="star" gemSize="large"></app-gem-top-view>
      <p>Star</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class='gem-tile'>
      <app-gem-top-view gemType="master" gemSize="large"></app-gem-top-view>
      <p>Master</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class='gem-tile'>
      <app-gem-top-view gemType="tracker" gemSize="large"></app-gem-top-view>
      <p>Tracker</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class='gem-tile'>
      <app-gem-top-view gemType="savvy-saver" gemSize="large"></app-gem-top-view>
      <p>Savvy Saver</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class='gem-tile'>
      <app-gem-top-view gemType="excuse-expert" gemSize="large"></app-gem-top-view>
      <p>Excuse Expert</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class='gem-tile'>
      <app-gem-top-view gemType="motivational-mentee" gemSize="large"></app-gem-top-view>
      <p>Motivational Mentee</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
