<h3>Learn from Others</h3>
<p>
  We asked former smokers what advice they could share and here's what they told
  us.
</p>

<mat-accordion multi="false">
  <mat-expansion-panel class="card-expand">
    <mat-expansion-panel-header collapsedHeight="180px">
      <mat-panel-title>
        X Deciding to quit was hard for me &hellip;
        <img src="assets/learn-others/manuel.png" />
        <div>Manuel</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div #speech0 class="rounded-speech-bubble-huh">
        <p>
          Deciding to quit was hard for me. It took many years to convince
          myself I'd be better off without cigarettes. The problem was that I
          started smoking when I was a kid. I never really knew what it was like
          to be a non-smoker. I thought it meant living a life of misery,
          constantly feeling irritable and always wanting a cigarette. That was
          true when I first quit, but about a month after I stopped smoking my
          life started to improve. Food started tasting better. I could breathe
          better. I felt better than I ever imagined I could. Now I wish I'd
          quit 30 years sooner (or never started to begin with).
        </p>
        <p>
          <b>My advice:</b>Don't let your fear of the unknown stop you from
          quitting smoking. It is hard at first, but it's worth it. You'll see.
        </p>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

  <mat-expansion-panel class="card-expand">
    <mat-expansion-panel-header collapsedHeight="180px">
      <mat-panel-title>
        X Everyone says quitting smoking &hellip;
        <img src="assets/learn-others/mia.png" />
        <div>Mia or Isabella</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div #speech1 class="rounded-speech-bubble-huh">
        <p>
          Everyone says quitting smoking is hard, and I’m sure it is for some
          people. But for me, it honestly wasn’t that bad. My husband and I
          decided we were ready to start a family, so my doctor recommended I
          stop smoking. She told me to use the nicotine patch and talk to a
          counselor. I did. A month later I stopped smoking and within 5 months
          I was pregnant!
        </p>
        <p>
          <b>My advice:</b>Don’t try to quit on your own. Get the help you need
          from your doctor or other experts. It really makes a difference.
        </p>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

  <mat-expansion-panel class="card-expand">
    <mat-expansion-panel-header collapsedHeight="180px">
      <mat-panel-title>
        X I have another thing to share &hellip;
        <img src="assets/learn-others/emma.png" />
        <div>Emma</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div #speech2 class="rounded-speech-bubble-huh">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel
          pharetra vel turpis nunc eget lorem dolor sed viverra. Viverra nibh
          cras pulvinar mattis nunc sed blandit libero. Ullamcorper morbi
          tincidunt ornare massa eget. Eu augue ut lectus arcu bibendum.
          Ultricies mi eget mauris pharetra et ultrices neque. Et odio
          pellentesque diam volutpat. Eu volutpat odio facilisis mauris sit.
          Mattis molestie a iaculis at erat. Habitant morbi tristique senectus
          et netus. Vel turpis nunc eget lorem dolor sed.
        </p>
        <p>
          <b>My advice:</b>Fusce id velit ut tortor pretium viverra suspendisse.
          Ultricies integer quis auctor elit sed vulputate mi sit.
        </p>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

  <mat-expansion-panel class="card-expand">
    <mat-expansion-panel-header collapsedHeight="180px">
      <mat-panel-title>
        X I have another thing share &hellip;
        <img src="assets/learn-others/rick.png" />
        <div>Rick</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div #speech3 class="rounded-speech-bubble-huh">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel
          pharetra vel turpis nunc eget lorem dolor sed viverra. Viverra nibh
          cras pulvinar mattis nunc sed blandit libero. Ullamcorper morbi
          tincidunt ornare massa eget. Eu augue ut lectus arcu bibendum.
          Ultricies mi eget mauris pharetra et ultrices neque. Et odio
          pellentesque diam volutpat. Eu volutpat odio facilisis mauris sit.
          Mattis molestie a iaculis at erat. Habitant morbi tristique senectus
          et netus. Vel turpis nunc eget lorem dolor sed.
        </p>
        <p>
          <b>My advice:</b>Fusce id velit ut tortor pretium viverra suspendisse.
          Ultricies integer quis auctor elit sed vulputate mi sit.
        </p>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

  <mat-expansion-panel class="card-expand">
    <mat-expansion-panel-header collapsedHeight="180px">
      <mat-panel-title>
        X I have another thing to share &hellip;
        <img src="assets/learn-others/shanice.png" />
        <div>Shanice</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div #speech4 class="rounded-speech-bubble-huh">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel
          pharetra vel turpis nunc eget lorem dolor sed viverra. Viverra nibh
          cras pulvinar mattis nunc sed blandit libero. Ullamcorper morbi
          tincidunt ornare massa eget. Eu augue ut lectus arcu bibendum.
          Ultricies mi eget mauris pharetra et ultrices neque. Et odio
          pellentesque diam volutpat. Eu volutpat odio facilisis mauris sit.
          Mattis molestie a iaculis at erat. Habitant morbi tristique senectus
          et netus. Vel turpis nunc eget lorem dolor sed.
        </p>
        <p>
          <b>My advice:</b>Fusce id velit ut tortor pretium viverra suspendisse.
          Ultricies integer quis auctor elit sed vulputate mi sit.
        </p>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

  <mat-expansion-panel class="card-expand">
    <mat-expansion-panel-header collapsedHeight="180px">
      <mat-panel-title>
        X I have another thing to share &hellip;
        <img src="assets/learn-others/thomas.png" />
        <div>Thomas</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div #speechBubble5 class="rounded-speech-bubble-huh">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel
          pharetra vel turpis nunc eget lorem dolor sed viverra. Viverra nibh
          cras pulvinar mattis nunc sed blandit libero. Ullamcorper morbi
          tincidunt ornare massa eget. Eu augue ut lectus arcu bibendum.
          Ultricies mi eget mauris pharetra et ultrices neque. Et odio
          pellentesque diam volutpat. Eu volutpat odio facilisis mauris sit.
          Mattis molestie a iaculis at erat. Habitant morbi tristique senectus
          et netus. Vel turpis nunc eget lorem dolor sed.
        </p>
        <p>
          <b>My advice:</b>Fusce id velit ut tortor pretium viverra suspendisse.
          Ultricies integer quis auctor elit sed vulputate mi sit.
        </p>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
