body {
  background-color: lightgray;
}

.vertical-grid {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.vertical-grid img {
  height: 15vw;
}

.mat-grid-tile {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  // margin: 5px;
  // padding: 5px;
  justify-content: space-evenly;
}
