<h3>How do I use this program?</h3>
<p>
  GEMS was designed for people like you, who want to quit smoking some day, but
  not necessarily today.
</p>
<p>
  We get it &mdash; it's a big decision.
</p>
<p>
  Whether you want to quit smoking tomorrow or next year, research shows that
  using the kinds of tools in GEMS can help you succeed.
</p>
<img src="assets/steps/read-book.png" class="full-width-image" />
<p>
  Be sure to read through each of the steps in your How to Quit Guide to learn
  more about the process of quitting. Then come back when you're ready to take
  action and follow steps 2&ndash;6.
</p>
<p>And don't forget about the other GEMS tools in your Toolbox.</p>
<div>
  <button mat-flat-button class="full-width-field" (click)="onRead()">
    Mark as read
  </button>
</div>
