<h3>ACE Strategies</h3>
<img src="assets/steps/jeans-cards.png" class="full-width-image" />
<p>
  After you quit smoking, there will be time when you want to smoke. Most of
  these cravings will pass within a minute or two. Over time, they will go away.
  Until then, use the ACE strategies to manage your cravings.
</p>
<p>
  <b>AVOID:</b> Avoid high-risk situations where you'll be tempted to smoke.
  This isn't forever, just for the first month when your cravings are the
  strongest.
</p>
<div>
  <b>COPE:</b> When you can't avoid the people, places or emotions that make you
  want to smoke, it's time to cope until the craving passes. Try these coping
  strategies:
  <ul>
    <li class="pill">
      <div class="pill-title">Distract yourself</div>
      <div class="pill-content">
        Go for a walk, call a friend, read a book or do anything that gets your
        mind off smoking.
      </div>
    </li>
    <li class="pill">
      <div class="pill-title">Use positive self-talk</div>
      <div class="pill-content">
        Remind yourself you can do it. Think about other times you've been
        strong and use that strength now.
      </div>
    </li>
    <li class="pill">
      <div class="pill-title">Try substitution</div>
      <div class="pill-content">
        Instead of smoking, try chewing gum, chewing on a toothpick, brushing
        your teeth, eating a peppermint, snacking on low-calorie foods, or
        keeping your hands busy doing something else.
      </div>
    </li>
    <li class="pill">
      <div class="pill-title">Call for support</div>
      <div class="pill-content">
        Call a friend or family member who supports your efforts to quit.
      </div>
    </li>
    <li class="pill">
      <div class="pill-title">Take a hot shower</div>
      <div class="pill-content">
        Take a hot shower or bath to relax.
      </div>
    </li>
    <li class="pill">
      <div class="pill-title">Take it one day at a time</div>
      <div class="pill-content">
        Don't worry about tomorrow, next week, or the rest of your life. Just
        get through today.
      </div>
    </li>
    <li class="pill">
      <div class="pill-title">Remind yourself why</div>
      <div class="pill-content">
        Remind yourself why you're quitting smoking. Write down your reasons in
        your GEMS Journal and review the list whenever you feel tempted to
        smoke.
      </div>
    </li>
    <li class="pill">
      <div class="pill-title">Relax</div>
      <div class="pill-content">
        Take a deep breath and let the moment pass.
      </div>
    </li>
  </ul>
</div>
<p>
  <b>ESCAPE:</b> When avoiding and coping don’t work, escape! Excuse yourself
  and walk away. Don’t worry about seeming rude. Exposing others to smoke when
  they don’t want to breathe is rude, walking away is caring about yourself and
  putting your needs first.
</p>
<div>
  <button mat-flat-button class="full-width-field" (click)="onRead()">
    Mark as read
  </button>
</div>
