<h3>Choose your medicine</h3>

<div id="main-content">
  <p>
    Nicotine replacement therapy (NRT) is the most commonly used
    stop&ndash;smoking medicine. It comes in several forms: patch, gum, nasal
    spray, lozenge, microtabs and inhaler.
  </p>
  <p>
    Most forms of NRT are available over the counter at your local drugstore.
    Some forms may require a prescription.
  </p>
  <div>
    <img src="assets/steps/NRT01.png" class="full-width-image" />
  </div>

  <h4>Who can use NRT?</h4>
  <p>
    NRT is safe for most people, but may not be advised if you've recently had a
    heart attack or are pregnant. If this applies to you, talk to your doctor
    before using this medicine.
  </p>
  <h4>How does it work?</h4>
  <p>
    NRT provides nicotine, replacing the nicotine your body has become used to
    from smoking. Over time, the dose is slowly decreased. This allows your body
    time to adjust, lessening your dependence on nicotine, without causing
    severe withdrawal symptoms. This makes it easier to stop.
  </p>
  <div>
    <img src="assets/steps/NRT02.png" class="full-width-image" />
  </div>
  <h4>How do I use it</h4>
  <p>
    Start taking your NRT on your Quit Date. It is best to use this medicine for
    8&ndash;12 weeks. Follow the product label instructions, which will vary
    based on which type of NRT you use and how many cigarettes you smoke a day.
  </p>
  <h4>What are the side effects?</h4>
  <p>
    Common side effects include headache, nausea, digestive problems, trouble
    sleeping and rash (for the patch). Not everyone will experience these. If
    you do, the symptoms typically go away with use. Serious side effects are
    rare.
  </p>
</div>

<div>
  <button mat-flat-button class="full-width-field" (click)="onRead()">
    Mark as read
  </button>
</div>
