<mat-card class="quit-card" routerLink="/quit-guide/step/1">
  <mat-card-title>
    <div class="step-circle step-one">
      <div class="step-text">Step</div>
      <div class="step-number">1</div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>
    <div class="subtitle">
      Learn the basics
    </div>
    <mat-card-content>
      You want to quit smoking some day, but not today. No problem! Learn some
      of the basics to help plan for your future &hellip;
    </mat-card-content>
  </mat-card-subtitle>
  <app-gem-top-view gemType='novice'>
  </app-gem-top-view>
</mat-card>

<mat-card class="quit-card" routerLink="/quit-guide/step/2">
  <mat-card-title>
    <div class="step-circle step-two">
      <div class="step-text">Step</div>
      <div class="step-number">2</div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>
    <div class="subtitle">
      Choose your medicine
    </div>
    <mat-card-content
      >Ready to quit in the next month (or so)? It's time to choose the right
      stop-smoking medicine for you! Learn more &hellip;
    </mat-card-content>
  </mat-card-subtitle>
  <app-gem-top-view gemType="explorer">
  </app-gem-top-view>
</mat-card>

<mat-card class="quit-card" routerLink="/quit-guide/step/3">
  <mat-card-title>
    <div class="step-circle step-three">
      <div class="step-text">Step</div>
      <div class="step-number">3</div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>
    <div class="subtitle">
      Choose your quit date
    </div>
    <mat-card-content
      >Once you've chosen your medicine, it's time to choose a Quit Date. This
      will give you time to get prepared &hellip;
    </mat-card-content>
  </mat-card-subtitle>
  <app-gem-top-view gemType="adventurer">
  </app-gem-top-view>
</mat-card>

<mat-card class="quit-card" routerLink="/quit-guide/step/4">
  <mat-card-title>
    <div class="step-circle step-four">
      <div class="step-text">Step</div>
      <div class="step-number">4</div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>
    <div class="subtitle">
      Prepare for your quit date
    </div>
    <mat-card-content
      >Once you’ve chosen your Quit Date, you’re ready to start preparing. Learn
      how to prepare yourself &hellip;
    </mat-card-content>
  </mat-card-subtitle>
  <app-gem-top-view gemType="champion"> </app-gem-top-view>
</mat-card>

<mat-card class="quit-card" routerLink="/quit-guide/step/5">
  <mat-card-title>
    <div class="step-circle step-five">
      <div class="step-text">Step</div>
      <div class="step-number">5</div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>
    <div class="subtitle">
      Quit smoking!
    </div>
    <mat-card-content
      >The big day has finally arrived! Learn more about how to survive your
      Quit Date &hellip;
    </mat-card-content>
  </mat-card-subtitle>
  <app-gem-top-view gemType="star"> </app-gem-top-view>
</mat-card>

<mat-card class="quit-card" routerLink="/quit-guide/step/6">
  <mat-card-title>
    <div class="step-circle step-six">
      <div class="step-text">Step</div>
      <div class="step-number">6</div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>
    <div class="subtitle">
      Choose your medicine
    </div>
    <mat-card-content
      >Fell of the wagon? Smoked?! It happens, but it doesn't mean you’ve
      failed. Learn how to turn your slip into a step toward success &hellip;
    </mat-card-content>
  </mat-card-subtitle>
  <app-gem-top-view gemType="master"> </app-gem-top-view>
</mat-card>
