@import "../../app.component.scss";

#mainform {
  background-color: $light-blue;
  color: $dark-blue;
  padding: 10px;
}

mat-form-field.mat-form-field {
  margin: 10px 0;
  background-color: white;
}

button#submit {
  background-color: $dark-blue;
  border-radius: 4px;
  color: white;
  display: block;
  font-size: 20px;
  font-weight: 800;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}
