<div id='mainform'>
  <h1>New Entry</h1>
  <form [formGroup]="journalDetailForm" (ngSubmit)="onSubmit()"
   class='container'>
    <mat-form-field appearance='fill' hideRequiredMarker>
      <mat-label>Enter a title &hellip;</mat-label>
      <input matNativeControl type='text' [(ngModel)]='entry.title'
       formControlName='title' required />
    </mat-form-field>

    <mat-form-field appearance='fill'>
      <mat-label>Enter your thoughts &hellip;</mat-label>
      <textarea matNativeControl formControlName='content'
        placeholder="placeholder" [(ngModel)]='entry.content'>
      </textarea>
    </mat-form-field>

    <button mat-raised-button [disabled]="!journalDetailForm.valid"
     aria-label='Save entry button' id='submit'>
        SAVE
    </button>

  </form>
</div>
