$dark-blue: #003b71;
$blue-text: #0078b3;
$dark-blue-text: #0d1c3d;
$light-blue: #cce3f2;
$rave-green: #57a635;
$dark-green: #abbe8c;
$light-green: #ddf2bb;
$gray: #b3b6c5;

:host {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer {
  flex: 1;
}

.full-width-field {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .full-width-image {
    width: 100%;
    margin: auto;
    overflow: auto;
  }
}

.blue-text {
  color: $blue-text;
}
