<h3>Coping with common nicotine withdrawal symptoms</h3>
<p>
  Nicotine withdrawal can make you feel pretty bad when you first stop smoking,
  but this will get better after a few weeks. In the meantime, try these tips.
</p>
<p>Small: Tap each symptom to reveal tips</p>

<mat-grid-list
  cols="3"
  rowHeight="80px"
  gutterSize="10px"
  style="padding-bottom: 15px;"
>
  <mat-grid-tile class="withdrawal-tile" (click)="openDialog(0)">
    <mat-grid-tile-header>Cigs pic</mat-grid-tile-header>
    <mat-grid-tile-footer>
      Cravings/Urges
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile class="withdrawal-tile" (click)="openDialog(1)">
    <mat-grid-tile-header>Swear pic</mat-grid-tile-header>
    <mat-grid-tile-footer>
      Irritability
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile class="withdrawal-tile" (click)="openDialog(2)">
    <mat-grid-tile-header>Plate pic</mat-grid-tile-header>
    <mat-grid-tile-footer>
      Hunger
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile class="withdrawal-tile" (click)="openDialog(3)">
    <mat-grid-tile-header>Think pic</mat-grid-tile-header>
    <mat-grid-tile-footer>
      Poor Concentration
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile class="withdrawal-tile" (click)="openDialog(4)">
    <mat-grid-tile-header>Storm pic</mat-grid-tile-header>
    <mat-grid-tile-footer>
      Sadness
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile class="withdrawal-tile" (click)="openDialog(5)">
    <mat-grid-tile-header>Sleepy pic</mat-grid-tile-header>
    <mat-grid-tile-footer>
      Fatigue
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile class="withdrawal-tile" (click)="openDialog(6)">
    <mat-grid-tile-header>Poop pic</mat-grid-tile-header>
    <mat-grid-tile-footer>
      Constipation
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile class="withdrawal-tile" (click)="openDialog(7)">
    <mat-grid-tile-header>Headache pic</mat-grid-tile-header>
    <mat-grid-tile-footer>
      Headache
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile class="withdrawal-tile" (click)="openDialog(8)">
    <mat-grid-tile-header>Bed pic</mat-grid-tile-header>
    <mat-grid-tile-footer>
      Insomnia
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

<div>
  <button mat-flat-button class="full-width-field" (click)="onRead()">
    Mark as read
  </button>
</div>
