<h2>Choose your medicine</h2>

<div>
  <img src="assets/steps/rx-choose.png" class="full-width-image" />
</div>

<div id="main-content">
  <p>
    Using an FDA&ndash;approved medicine will <i>double</i> your chances of
    quitting smoking and staying quit <i>if you use it as directed.</i> Take
    some time to research your options.
  </p>
  <p>
    Depending on the medicine you use, you will either start using it on your
    Quit Date or a week before, so plan ahead
  </p>
  <p>
    Talk to your doctor to learn which of these medicines is right for you. Jot
    down any questions you have for your doctor in your GEMS Journal, so you'll
    have them handy.
  </p>

  <mat-card routerLink="a">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title>Nicotine replacement therapy</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card routerLink="b">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title>Varenicline</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card routerLink="c">
    <mat-card-header>
      <div mat-card-avatar class="step-complete-image"></div>
      <mat-card-title>Bupropion</mat-card-title>
    </mat-card-header>
  </mat-card>

  <p>
    If you're not sure what to use, we suggest the nicotine patch. It's safe,
    effective and available at your local drugstore.
  </p>
</div>
