<h2>Choose your quit date</h2>

<div>
    <img src='assets/steps/time-quit.png' />
</div>

<div id='main-content'>
    <p>
        After you've chosen which medicine you'll use, you're ready to
        choose a Quit Date.
    </p>
    <p>Here's how to choose the perfect day to stop smoking:</p>
    <ul>
        <li>
            Pick a date between 2 days and 2 weeks in the future.
            <i>You need a little time to prepare for this day, but not
            too much time or you might change your mind</i>.
        </li>
        <li>
            Choose a date when you don't have a lot of other things to
            do. Weekends often work best.
        </li>
        <li>
            Mark it on your calendar and set a reminder 2 days before.
        </li>
    </ul>

    <p>
        Once you do this, you're ready to get prepared for your
        Quit Date (Step 4).
    </p>

</div>
<div>
    <button mat-flat-button class='full-width-field' (click)="onRead();">
        I'VE CHOSEN MY QUIT DATE
    </button>
</div>

