<h2>Prepare for your quit date</h2>

<div>
  <img src="assets/steps/checklist.png" class="full-width-image" />
</div>

<div id="main-content">
  <p>
    This checklist will help you prepare before your Quit Date. Be sure to do
    each of the following in the week before your Quit Date to increase your
    chance of success.
  </p>

  <h4>One Week Before Your Quit Date</h4>
  <mat-accordion multi="false">
    <mat-expansion-panel class="card-expand" #panel0>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="step-check checked"></div>
          Plan your reward
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Think about how much money you will save by not smoking. How else could
        you use this money? Make a list of things you could buy to reward
        yourself.
      </p>
      <p>
        Use the GEMS calculator in your Toolbox to see how much money you will
        save over time.
      </p>
      <mat-action-row>
        <button mat-flat-button class="full-width-field" (click)="onRead(0)">
          Mark as read
        </button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel class="card-expand" #panel1>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="step-check unchecked"></div>
          Stop buying cigarettes
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        It's important not to have cigarettes hanging around on or after your
        Quit Date, so plan your purchases wisely! Buy them by the pack, not the
        carton.
      </p>
      <mat-action-row>
        <button mat-flat-button class="full-width-field" (click)="onRead(1)">
          Mark as read
        </button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel class="card-expand" #panel2>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="step-check unchecked"></div>
          Tell someone
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Now that you've decided to stop smoking and you've gotten your
        medication, it's time to tell someone.
      </p>
      <p>
        We know, that sounds scary. You don't have to tell everyone, but tell
        one person you trust. It's easier to quit if you have support from a
        good friend or family member.
      </p>
      <p>The support person is someone who:</p>
      <ul>
        <li>you trust</li>
        <li>
          will support you, even when you're cranky and not your best, or
        </li>
        <li>has made a hard change for themselves in the past</li>
      </ul>
      <p>
        Don't choose someone who currently smokes. It will be harder for them to
        support you when they are not ready to quit smoking.
      </p>
      <mat-action-row>
        <button mat-flat-button class="full-width-field" (click)="onRead(2)">
          Mark as read
        </button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel class="card-expand" #panel3>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="step-check unchecked"></div>
          Ask for the support you need
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Ask your support person to do the following:</p>
      <ul>
        <li>
          Call, text or email daily to check in after your Quit Date, especially
          after the first couple weeks
        </li>
        <li>Offer positive encouragement</li>
        <li>
          Be patient if you're having a hard day or are more irritable than
          usual
        </li>
        <li>Be a friend, not a nag</li>
      </ul>
      <mat-action-row>
        <button mat-flat-button class="full-width-field" (click)="onRead(3)">
          Mark as read
        </button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel class="card-expand" #panel4>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="step-check unchecked"></div>
          Learn the basic skills for survival
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Many people think quitting smoking is a matter of willpower: if you want
        it badly enough, you can will it to happen. Wrong!
      </p>
      <p>Quitting smoking is about <b>skill-power</b>, not will-power!</p>
      <p>
        Learning some basic skills will make quitting smoking easier.
        Familiarize yourself with these skills now, so you're ready for your
        quit date.
      </p>
      <ul>
        <li>
          <a routerLink="a">
            Anticipating high-risk situations
          </a>
        </li>
        <li>
          <a routerLink="b">
            Link: ACE strategies: Avoid, Cope &amp; Escape
          </a>
        </li>
        <li>
          <a routerLink="c">
            Managing negative emotions
          </a>
        </li>
        <li>
          <a routerLink="d">
            Coping with nicotine withdrawal
          </a>
        </li>
        <li>
          <a routerLink="e">
            Managing stress with box breathing
          </a>
        </li>
      </ul>
      <mat-action-row>
        <button mat-flat-button class="full-width-field" (click)="onRead(4)">
          Mark as read
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <h4>One Week Before Your Quit Date</h4>
  <mat-expansion-panel class="card-expand" #panel5>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="step-check unchecked"></div>
        Clean house
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Cleaning house is a good thing to do 1&ndash;2 days before your Quit Date.
      Get rid of everything that reminds you of smoking so you can start with a
      clean slate the morning of your quit date.
    </p>
    <p>
      Wash your sheets, clothes, curtains, carpets &mdash; anything that smells
      like smoke.
    </p>
    <p>
      Empty all of your ashtrays and start putting them away.
    </p>
    <p>
      Open the windows in your home and car and let the fresh air in.
    </p>
    <p>
      Round up any remaining cigarettes and put them in one place. Be sure to
      check drawers, pockets, briefcases or backpacks &mdash; anywhere you may
      have stashed a pack or some singles for safe keeping.
    </p>
    <mat-action-row>
      <button mat-flat-button class="full-width-field" (click)="onRead(5)">
        Mark as read
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <h4>One Week Before Your Quit Date</h4>
  <mat-expansion-panel class="card-expand" #panel6>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="step-check unchecked"></div>
        Final preparation
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Here's what you need to do the day before your Quit Date:
    </p>
    <ul>
      <li>
        Review your checklist &mdash; have you forgotten anything?
      </li>
      <li>
        Make sure you have your stop-smoking medicine. Put it in the bathroom or
        on the kitchen table where you will see it <i>first thing</i> in the
        morning.
      </li>
      <li>
        Get rid of any cigarettes you still have. Throw them out! It's easy to
        slip or relapse if you have cigarettes hanging around, but it's very
        hard to slip if you don't.
      </li>
      <li>
        Plan something fun for your Quit Date that doesn't require a lot of
        mental energy &mdash; go to a movie, go shopping, take a walk with a
        friend. Choose an activity you enjoy, but one that won't make smoking
        easy.
      </li>
      <li>
        Go to bed early, so you can get a good night's sleep.
      </li>
    </ul>
    <p>Now you are ready for step 5!</p>
    <mat-action-row>
      <button mat-flat-button class="full-width-field" (click)="onRead(6)">
        Mark as read
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
