<h3>Quit Smoking!</h3>
<img src="assets/steps/quit-date.png" class="full-width-image" />
<p>
  Your quit date has finally arrived. Here are some tips for getting through the
  day:
</p>
<ul class="highlight-list">
  <li>Be sure to use your stop-smoking medicine.</li>
  <li>Avoid places where people are smoking</li>
  <li>
    Avoid things that will make you want to smoke (e.g., coffee, beer). This is
    not forever, but at least a few weeks.
  </li>
  <li>Go for a walk.</li>
  <li>Think about all of the reasons not smoking is a good idea.</li>
  <li>
    Throw away any last cigarettes you still have &mdash; you know, the ones you
    weren't ready to part with last night.
  </li>
  <li>
    If you have a craving, remind yourself that it will pass. Don't give in.
  </li>
  <li>Practice your skill-power!</li>
  <li>
    Think of this as your first day (of many to come) as a new non-smoker!
  </li>
</ul>
<p>
  If you're like most people, this day will be the hardest, so hang in there and
  remember that it will get easier.
</p>
<p>
  Step 6 can help you if you slip and get off course. We suggest you review this
  now and then refer to it again when things get tough.
</p>

<div>
  <button mat-flat-button class="full-width-field" (click)="onRead()">
    Mark as read
  </button>
</div>
