<h3>Managing negative emotions</h3>
<img src="assets/steps/adult-alone.png" class="full-width-image" />
<p>
  When you first quit smoking, nicotine withdrawal can make you irritable and
  moody. So it's important to learn how to manage your mood without reaching for
  a cigarette. Try these things:
</p>

<mat-card class="negative-emotion-card">
  <mat-card-title>
    SLOW DOWN
  </mat-card-title>
  <mat-card-content>
    <ul>
      <li>Take frequent breaks during the day.</li>
      <li>Take a one-day vacation and do something you enjoy.</li>
      <li>Allow yourself extra time to get work done.</li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card class="negative-emotion-card">
  <mat-card-title>
    PLAN FOR STRESSFUL SITUATIONS
  </mat-card-title>
  <mat-card-content>
    <ul>
      <li>
        This about what causes you stress and how you can avoid these
        situations, at least in the short term.
      </li>
      <li>
        Think about what you can do instead of smoking when you are stressed.
        Write it down in your GEMS Journal.
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card class="negative-emotion-card">
  <mat-card-title>
    USE POSITIVE SELF-TALK
  </mat-card-title>
  <mat-card-content>
    <p>
      Your self-talk is the thoughts in your head. Some people think their
      self-talk reflects their emotions, but the thoughts in your head can
      actually cause your emotions.
    </p>
    <p>
      When you feel down or overwhelmed, tell yourself:
    </p>
    <ul>
      <li>
        &ldquo;It’s okay to feel bad right now. I’m still learning how NOT to
        smoke. This is difficult and takes time, but I WILL succeed.&rdquo;
      </li>
      <li>
        &ldquo;I am stronger than my cravings. I will succeed and I will feel
        better soon.&rdquo;
      </li>
      <li>
        &ldquo;Cigarettes don’t really make me feel better. If I give in and
        smoke, I will actually feel worse.&rdquo;
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card class="negative-emotion-card">
  <mat-card-title>
    BE ASSERTIVE
  </mat-card-title>
  <mat-card-content>
    <ul>
      <li>
        State your needs and goals clearly and calmly. For example: &ldquo;I'm
        quitting smoking. Please don't offer me cigarettes or smoke when I am
        around.&rdquo; Or &ldquo;I’ve recently quit smoking and I’m not my best
        self. Please be patient with me right now.&rdquo;
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card class="negative-emotion-card">
  <mat-card-title>
    EXERCISE
  </mat-card-title>
  <mat-card-content>
    <p>
      Physical activity is a great way to relieve stress and feel better. Try
      walking at least 20 minutes a day.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="negative-emotion-card">
  <mat-card-title>
    FOCUS ON HOBBIES AND FRIENDS
  </mat-card-title>
  <mat-card-content>
    <p>
      Instead of focusing on the things you can’t do or that make you unhappy,
      focus on things you enjoy. This is a great time to start a new hobby,
      spend more time with your (non-smoking) friends, learn a new skill, or
      plan that dream vacation you’ve always wanted to take.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="negative-emotion-card">
  <mat-card-title>
    AVOID DRUGS AND ALCOHOL
  </mat-card-title>
  <mat-card-content>
    <p>
      Drugs and alcohol actually cause stress rather than making it go away.
      Limit or avoid their use, especially when you first stop smoking.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="negative-emotion-card">
  <mat-card-title>
    TAKE CARE OF YOURSELF
  </mat-card-title>
  <mat-card-content>
    <p>
      A healthy body will make you less susceptible to the effects of stress.
    </p>
    <ul>
      <li>Sleep at least 8 hours every night.</li>
      <li>Eat a healthy diet including lots of fresh fruits and vegetables.</li>
      <li>Get 30 minutes of activity at least 4 days a week.</li>
      <li>Do something you enjoy every day.</li>
    </ul>
  </mat-card-content>
</mat-card>

<p>
  These tips can help you manage the stress of quitting smoking, but if you
  notice an extreme change in your mood or behavior (e.g., severe anger,
  hostility, or other erratic behavior), you may need additional help. Contact
  your doctor.
</p>

<div>
  <button mat-flat-button class="full-width-field" (click)="onRead()">
    Mark as read
  </button>
</div>
