<h3>Are organic and all-natural cigarettes safe?</h3>
<p>
  No. They may have fewer chemicals than other cigarettes, but they are not
  safe. They still release toxins and carbon monoxide that harm your lungs and
  body to breathe.
</p>
<img src="assets/steps/tobacco.png" class="full-width-image" />
<p>
  There are no safe cigarettes, but there are safer forms of nicotine. You can
  learn more about these in Step 2.
</p>
<div>
  <button mat-flat-button class="full-width-field" (click)="onRead()">
    Mark as read
  </button>
</div>
