<h3>What should I know if I take medications?</h3>
<p>
  Cigarette smoking can affect how some medicines work in your body. Often,
  smoking makes medicines clear from your system faster. This may mean that if
  you are smoking, you need to take more medicine to get the same [dosage?]
</p>
<img src="assets/steps/nicotine-patch.png" class="full-width-image" />
<p>
  When you stop smoking, your doctor may need to adjust some of your medications
  to make sure you are still getting the right dosage for you.
</p>

<p>
  If you are taking a medication and stop smoking, let your doctor know. Don't
  try to adjust your medication dosage on your own.
</p>
<div>
  <button mat-flat-button class="full-width-field" (click)="onRead()">
    Mark as read
  </button>
</div>
