<h3>What <i>else</i> should I know?</h3>
<p>
  Below are some common questions people ask when thinking about quitting
  smoking.
</p>
<img src="assets/steps/apple-book-stack.png" class="full-width-image" />
<h4>Is quitting smoking bad for me?</h4>
<p>
  No. It's the healthiest choice you can make. Smoking is the #1 preventable
  cause of death and illness.
</p>
<h4>Should I use a stop-smoking medication if I decide to quit?</h4>
<p>
  Yes. Using an FDA-approved stop-smoking medicine can <i>double</i>
  your chances of quitting smoking and staying quit,
  <i>if you use the medicine as directed</i>. Learn more under Step 3.
</p>
<h4>Does smoking harm my pets?</h4>
<p>
  Yes. Your secondhand smoke can cause cancer, respiratory infections, asthma or
  other health problems in your pets, just like it does in [continued ...]
</p>
<img src="assets/steps/ready.png" class="full-width-image" />
<h4>Can I continue to smoke marijuana if I stop smoking?</h4>
<p>
  We recommend you stop or limit your use of marijuana when you first stop
  smoking, because using cannabis can make it harder to quit smoking.
</p>
<p>
  If you choose to use marijuana after you've stopped smoking, avoid smoking or
  vaping. Both can damage your lungs.
</p>
<h4>How will I know I'm ready to stop smoking?</h4>
<p>
  You probably won't ever feel 100% ready to give up cigarettes. But that
  doesn't mean you're not ready or that you won't be successful.
</p>
<p>
  The best way to know if you are ready to quit is to
  <i>try and see what happens</i>. Even if you don't succeed, you will learn
  something that will make it easier to quit the next time you try.
</p>
<h4>Will quitting smoking make my mental health symptoms worse?</h4>
<p>
  Many people feel more anxiety, depression or stress when they first stop
  smoking because of nicotine withdrawal. But people who have been diagnosed
  with mental health conditions[continued ...]
</p>
<img
  src="assets/steps/greyscale-long-sleeved-top.png"
  class="full-width-image"
/>
<h4>Does smoking ever reduce anxiety and depression?</h4>
<p>
  No. Smoking actually makes you feel more anxiety and stress. The chemicals you
  inhale when you smoke turn on your body's stress system. You may also feel
  stressed or anxious due to nicotine withdrawal. This is why smoking
  temporarily makes you feel better. But, long term, you're stuck in a vicious
  cycle where not smoking makes you feel stressed or anxious. This will change
  when you break your addiction to nicotine.
</p>
<h4>Where can I get (more) help quitting smoking?</h4>
<p>Great question!</p>
<p>Tap the Get Help button at the bottom of your screen for information.</p>
<div>
  <button mat-flat-button class="full-width-field" (click)="onRead()">
    Mark as read
  </button>
</div>
