<h3>Quit Smoking!</h3>
<img src="assets/steps/way-course.png" />
<p>
  After your Quit Date,
  <i>it's important that you don't smoke &mdash; even a puff.</i>
  But if you do, don't give in and give up!
</p>
<p>
  Follow these steps to ensure your slip does not become a relapse.
</p>

<div>
  Graphic <br />STOP!
  <h4>Don't finish the cigarette.</h4>
  <p>Put it out and walk away.</p>
</div>

<div>
  Graphic <br />RECOMMIT
  <h4>to quitting smoking</h4>
  <ul>
    <li>Throw away any cigarettes you have.</li>
    <li>
      Keep taking your stop-smoking medicine (or get one, if you haven't yet).
    </li>
    <li>Set a new Quit Date right away.</li>
    <li>Revisit Steps1&ndash;5 of this program for more help.</li>
  </ul>
</div>

<div>
  Graphic <br />ANALYZE
  <h4>the situation</h4>
  <p>
    Why did you smoke? What tripped you up? What can you do differently next
    time you're tempted, so you don't smoke in the future?
  </p>
  <ul>
    <li>
      Write down your answers in your GEMS Journal, so you don't forget what
      you've learned.
    </li>
  </ul>
</div>

<div>
  Graphic <br />BE COMPASSIONATE
  <h4>Don't beat yourself up</h4>
  <p>
    Don't beat yourself up. It's a slip, not a relapse. You're learning how to
    be a non-smoker again. As long as you get back on track, it's not a failure,
    just part of the process.
  </p>
</div>

<div>
  <button mat-flat-button class="full-width-field" (click)="onRead()">
    Mark as read
  </button>
</div>
