<h3>Learn to Talk Back</h3>
<p>
  Below are some common excuses people have shared with us for not quitting
  smoking. Tap each to see what people told themselves to eventually overcome
  their excuse and finally give up cigarettes.
</p>

<mat-accordion multi="false">
  <mat-expansion-panel class="card-expand">
    <mat-expansion-panel-header collapsedHeight="180px">
      <mat-panel-title>
        X &ldquo;You gotta die from something.&rdquo;
        <img src="assets/talk-back/hector.png" />
        <div>Hector</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div #speech0 class="rounded-speech-bubble-huh">
        <p>
          It's not that simple. Smoking kills you quicker and the diseases you
          can get are pretty bad. Cancer is painful. Emphysema slowly suffocates
          you. If you have a stroke, you can lose your speech or become
          paralyzed. Now I get it &hellip; it's not about if you die, but about
          how you die and how you live. I finally decided to try to live
          healthier and live better. If I have to die of something, I'm
          [continued];
        </p>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

  <mat-expansion-panel class="card-expand">
    <mat-expansion-panel-header collapsedHeight="180px">
      <mat-panel-title>
        X &ldquo;This is too hard.&rdquo;
        <img src="assets/talk-back/keisha.png" />
        <div>Keisha</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div #speech1 class="rounded-speech-bubble-huh">
        <p>
          Quitting smoking is hard at first, but so is anything worthwhile.
          Finding a job is hard, moving is hard, paying my bills is hard. I've
          done other hard things, and I can do this, too. If millions of other
          people have quit smoking, so can I.
        </p>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

  <mat-expansion-panel class="card-expand">
    <mat-expansion-panel-header collapsedHeight="180px">
      <mat-panel-title>
        X &ldquo;The withdrawal symptoms are worse.&rdquo;
        <img src="assets/talk-back/margaret.png" />
        <div>Margaret</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div #speech2 class="rounded-speech-bubble-huh">
        <p>
          Nicotine withdrawal can be bad, but it goes away after a month or two
          and there are medicines that the make the whole process a lot easier.
        </p>
        <p>
          Once I learned this, I knew the time was right. I haven’t had a
          cigarette now for 7 months!
        </p>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

  <mat-expansion-panel class="card-expand">
    <mat-expansion-panel-header collapsedHeight="180px">
      <mat-panel-title>
        X &ldquo;There's no harm in having just one.&rdquo;;
        <img src="assets/talk-back/bob.png" />
        <div>Bob</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div #speech3 class="rounded-speech-bubble-huh">
        <p>
          My friends convinced me at a party that it would be okay to just have
          one cigarette. Well, they were wrong. Three months of hard work went
          down the drain. One cigarette led to two, then three, then I bought a
          pack and had to finish it. Before I knew it, I was back where I
          started. Fortunately, it has been easier to quit this second time, but
          I won’t be tempted to given in again so easily &mdash; there is harm
          in just one.
        </p>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

  <mat-expansion-panel class="card-expand">
    <mat-expansion-panel-header collapsedHeight="180px">
      <mat-panel-title>
        X &ldquo;I'm gaining weight. Maybe I should smoke instead.&rdquo;
        <img src="assets/talk-back/susan.png" />
        <div>Susan</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div #speech4 class="rounded-speech-bubble-huh">
        <p>
          Sure, I have put a little weight on, but honestly, it’s because I
          haven't paid attention to what I’m eating. I know there are things I
          can do to not gain weight other than smoking. If it really starts to
          bother me, I’ll start eating healthier &mdash; more fruits and
          vegetables &mdash; and maybe start walking. But for now, I’d rather
          not smoke and not worry about the weight. Smoking is killing me; an
          extra 5 pounds I can live with.
        </p>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
