body {
  background-color: lightgray;
}

.vertical-grid {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mat-grid-tile {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
