<mat-grid-list cols="2" gutterSize="5px">
  <mat-grid-tile routerLink="tracker">
    <div class="vertical-grid">
      <img src="assets/KP_Data_icon.svg" />
      <h4>Cigarette Tracker</h4>
      <p>Keeping track is a great way to see your patterns</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile routerLink="calculator">
    <div class="vertical-grid">
      <img src="assets/KP_Calculator_icon.svg" /><br />
      <h4>Savings Calculator</h4>
      <p>Knowing how much you save by kicking the habit</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile routerLink="learn-others">
    <div class="vertical-grid">
      <p>Picture of two heads</p>
      <h4>Learn From Others</h4>
      <p>Hear it directly from those who have gone before you</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="vertical-grid" routerLink="talk-back">
      <p>Talk bubble in head picture</p>
      <h4>Learn to Talk Back</h4>
      <p>Those old excuses don't make any sense. Learn to talk back to them.</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
