<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    id="sidenav-base"
    class="border"
    position="end"
    role="navigation"
  >
    <div id="menu-header">
      <span>
        <a id="cancel-button" class="clickable" (click)="sidenav.close()">
          x
        </a>
      </span>
      <span>Menu</span>
    </div>
    <mat-nav-list id="nav-list">
      <a
        mat-list-item
        routerLink="/shared/about"
        (click)="sidenav.close()"
        style="display: flex; justify-content: space-between"
      >
        <div class="nav-caption">About</div>
        <div>&mdash;</div>
        <div><img src="assets/KP_Info_icon.svg" /></div>
      </a>
      <a mat-list-item routerLink="/shared/contact" (click)="sidenav.close()">
        <span class="nav-caption">Contact</span>
        <img src="assets/KP_Message_icon.svg" />
      </a>
      <a mat-list-item>
        <span class="nav-caption">?Tutorial?</span>
        <img src="assets/KP_Touch_icon.svg" />
      </a>
      <a mat-list-item>
        <span class="nav-caption"> ?Settings?</span>
        <img src="assets/gear.svg" />
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row style="justify-content: space-between;">
        <span>
          <a (click)="goBack()" class="clickable back-arrow">
            &lsaquo;
          </a>
          <a mat-button routerLink="">
            <img src="assets/diamond.svg" />
          </a>
        </span>
        <span>{{ pageTitle }}</span>
        <span>
          <a (click)="sidenav.open()" class="clickable kebab">
            &#8942;
          </a>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <footer>
      <p>Probly use navlist?</p>
      <a
        mat-button
        aria-label="Home button"
        routerLink="/quit-guide"
        routerLinkActive="active"
      >
        <img src="assets/home.svg" />
        Home
      </a>
      <a
        mat-button
        aria-label="Journal button"
        routerLink="/journal/list"
        routerLinkActive="active"
      >
        <img src="assets/contract.svg" />
        Journal
      </a>
      <a
        mat-button
        aria-label="Toolbox button"
        routerLink="toolbox"
        routerLinkActive="active"
      >
        <img src="assets/small-toolbox.svg" />
        Toolbox
      </a>
      <a
        mat-button
        aria-label="More help button"
        routerLink="/shared/more-help"
        routerLinkActive="active"
      >
        <img src="assets/help-circle-outline.svg" />
        More Help
      </a>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
