<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    id="sidenav-base"
    class="border"
    position="end"
    role="navigation"
  >
    <div id="menu-header">
      <span>
        <a id="cancel-button" class="clickable" (click)="sidenav.close()">
          cancel
        </a>
      </span>
      <span>Menu</span>
    </div>
    <mat-nav-list id="nav-list">
      <a mat-list-item routerLink="/shared/about" (click)="sidenav.close()">
        About (info icon)
      </a>
      <a mat-list-item routerLink="/shared/contact" (click)="sidenav.close()">
        Contact (mail_outline icon)
      </a>
      <a mat-list-item>
        Tutorial class icon (is this going anywhere?)
      </a>
      <a mat-list-item>
        Settings settings_applications icon (is this going anywhere?)
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row style="justify-content: space-between;">
        <span>
          <a (click)="goBack()" class="clickable">
            arrow_back_ios icon
          </a>
          <a mat-button routerLink="">
            <img src="assets/diamond.svg" />
          </a>
        </span>
        <span>{{ pageTitle }}</span>
        <span>
          <a (click)="sidenav.open()" class="clickable">
            more_vert icon
          </a>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <footer>
      <a
        mat-button
        aria-label="Home button"
        routerLink="/quit-guide"
        routerLinkActive="active"
      >
        <img src="assets/home.svg" />
        Home
      </a>
      <a
        mat-button
        aria-label="Journal button"
        routerLink="/journal/list"
        routerLinkActive="active"
      >
        <img src="assets/contract.svg" />
        Journal
      </a>
      <a
        mat-button
        aria-label="Toolbox button"
        routerLink=""
        routerLinkActive="active"
      >
        <img src="assets/small-toolbox.svg" />
        Toolbox
      </a>
      <a
        mat-button
        aria-label="More help button"
        routerLink="/shared/more-help"
        routerLinkActive="active"
      >
        <img src="assets/help-circle-outline.svg" />
        More Help
      </a>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
