@import "../app.component.scss";

#sidenav-base {
  border: 20px $blue-text;
  border-radius: 15px 0 0 15px;
  padding: 15px;
  width: 66%;

  a {
    color: $blue-text;
  }
}

#nav-list {
  float: right;
  img {
    padding-left: 5px;
  }
}

#menu-header {
  color: $blue-text;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.clickable {
  cursor: pointer;
}

#cancel-button {
  background-color: $blue-text;
  border-radius: 50%;
  color: white !important;
  display: table-cell;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  width: 25px;
}

a.back-arrow {
  font-size: 150%;
  margin: auto;
}

a.kebab {
  font-size: 120%;
  font-weight: 900;
}

.toolbar {
  background-image: linear-gradient(#0086cf, #005d8f);
  color: white;
  font-weight: 600;
  height: 60px;
  margin: -8px;
}

.toolbar img {
  margin: 0 16px;
  height: 14px;
}

footer {
  background-image: linear-gradient(#0086cf, #005d8f);
  color: white;
  line-height: 20px;
  padding-top: 8px;
  display: flex;
  justify-content: space-evenly;
}

footer {
  a {
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
  }
  img {
    display: block;
    height: 20px;
    margin: auto;
    width: 20px;
  }
}

footer figure {
  text-align: center;
}

footer figure img {
  display: block;
  margin: auto;
  width: 50%;
}
