<mat-sidenav-container>
  <mat-sidenav #sidenav id='sidenav-base' class='border' opened position='end' role='navigation'>
    <div id='menu-header'>
      <span>
        <a mat-icon-button id='cancel-button'>
          <mat-icon (click)="sidenav.close()">cancel</mat-icon>
        </a>
      </span>
      <span>Menu</span>
    </div>
    <mat-nav-list id='nav-list'>
      <a mat-list-item>
        About
        <mat-icon>info</mat-icon>
      </a>
      <a mat-list-item>
        Contact
        <mat-icon>mail_outline</mat-icon>
      </a>
      <a mat-list-item>
        Tutorial
        <mat-icon>class</mat-icon>
      </a>
      <a mat-list-item>
        Settings
        <mat-icon>settings_applications</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar class='toolbar'>
      <mat-toolbar-row style="justify-content: space-between;">
        <span>
          <a mat-icon-button>
            <mat-icon>arrow_back_ios</mat-icon>
          </a>
          <a mat-button>
            <img src='assets/diamond.svg' />
          </a>
        </span>
        <span>GEMS
        </span>
        <span>
          <a mat-icon-button (click)="sidenav.open()">
            <mat-icon>more_vert</mat-icon>
          </a>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>

    <app-quit-guide></app-quit-guide>
    <router-outlet></router-outlet>

    <footer>
      <figure>
        <img src='assets/home.svg' />
        <figcaption>Home</figcaption>
      </figure>
      <figure>
        <img src='assets/contract.svg' />
        <figcaption>Journal</figcaption>
      </figure>
      <figure>
        <img src='assets/small-toolbox.svg' />
        <figcaption>Toolbox</figcaption>
      </figure>
      <figure>
        <img src='assets/help-circle-outline.svg' />
        <figcaption>More Help</figcaption>
      </figure>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>
