<h3>Why is tobacco smoke harmful?</h3>
<div>
    Tobacco smoke contains more than 7,000 chemicals, many of which
    are toxic. For example:
    <ul>
        <li>Hydrogen cyanide (used in chemical weapons)</li>
        <li>Carbon monoxide (found in car exhaust)</li>
        <li>Butane (used in lighter fluid)</li>
        <li>Arsenic (used in pesticides)</li>
        <li>Lead (formerly found in paint)</li>
        <li>Cadmium (used to make batteries)</li>
        <li>Formaldehyde (used to preserve dead bodies)</li>
    </ul>
</div>
<img src='assets/cigarette-toxins.gif' />
<p>
    Over time, breathing these chemicals will harm your body.
</p>
<div>
    <button mat-flat-button class='full-width-field' (click)="onRead();">
        Mark as read
    </button>
</div>
