<h3>Why is nicotine so addictive?</h3>
<p>
    After you take a puff, it only takes about 6 seconds for nicotine
    to reach your brain and signal the neurons to release pleasure&ndash;
    causing chemicals (dopamine, serotonin, endorphins). That's why
    smoking feels good, and why it is addictive.
</p>
<p>
    It's also why you crave cigarettes and start to feel irritable
    when you haven't smoked in a while. It's your body's way of saying
    it wants <b>more nicotine</b> (or more accurately &mdash;
    it wants more chemicals to make you feel good).
</p>
<img src='assets/nicotine-cycle.gif' />
<div>
    <button mat-flat-button class='full-width-field' (click)="onRead();">
        Mark as read
    </button>
</div>
