<h3>Bupropion</h3>

<div id='main-content'>
    <p>
        Bupropion (brand names include Zyban, Wellbutrin and Buproban)
        is one of the three FDA-approved stop-smoking medicines.
        It is only available with a prescription. Most people use the
        generic form (bupropion). Your doctor may also prescribe
        Wellbutrin, which is another name for bupropion. Bupropion
        treats both smoking and depression, but different doses
        [continued ...]
    </p>
    <div>
        <img src='assets/steps/bupropion-1.png' />
    </div>

    <h4>Who can use it?</h4>
    <p>
        Bupropion is safe for many people, but it may not be the best
        choice for everyone. Talk to your doctor to find out if it is
        right for you.
    </p>
    <h4>How does it work?</h4>
    <p>
        Bupropion blocks nicotine receptors in the brain. This reduces
        withdrawal symptoms and makes it easier to stop smoking.
    </p>
    <h4>How do I use it?</h4>
    <p>
        You will start taking bupropion one week before your Quit Date.
    </p>
    <p>
        Take it the same time each day and pair it with other activities
        to help you remember, like with breakfast and before bed.
        Consider setting a reminder alarm on your phone.
    </p>
    <p>
        Take your pill(s) with food and a full glass of water to
        reduce the side effects.
    </p>
    <p>
        Follow your doctor's instructions, but most people need to stay
        on this medicine for 12 weeks. Be sure to reorder your refill
        before you run out.
    <div>
        <img src='assets/steps/wellbutrin-2.png' />
    </div>
    <h4>What are the side effects?</h4>
    <p>Common side effects include agitation, dry mouth, insomnia,
        dizziness, headache, nausea, stomach pain, constipation,
        weight change, appetite change, rash and itching.
        More serious side effects have also been reported.
        Talk to your doctor to learn [continued ...]
    </p>
</div>
<div>
    <button mat-flat-button class='full-width-field' (click)="onRead();">
        Mark as read
    </button>
</div>
