<h2>Learn the basics</h2>

<div>
    <img src='assets/start-flag.gif' />
</div>

<div id='main-content'>
    <p>Whether you are ready to quit smoking today or just thinking about
        it for tomorrow (or next month or next year), following GEMS's 6
        steps will help you succeed.</p>

    <p>Review the topics below to learn the answers to some common
        questions to get started.</p>

    <mat-card routerLink='a'>
        <mat-card-header>
            <div mat-card-avatar class='step-complete-image'></div>
            <mat-card-title>Why is nicotine so addictive?</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card routerLink='b'>
        <mat-card-header>
            <div mat-card-avatar class='step-complete-image'></div>
            <mat-card-title>What is nicotine withdrawal?</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card routerLink='c'>
        <mat-card-header>
            <div mat-card-avatar class='step-complete-image'></div>
            <mat-card-title>What are the keys to surviving withdrawal?</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card routerLink='d'>
        <mat-card-header>
            <div mat-card-avatar class='step-complete-image'></div>
            <mat-card-title>Why is tobacco smoke harmful?</mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
