<h2>Prepare for your quit date</h2>

<div>
    <img src='assets/steps/checklist.png' />
</div>

<div id='main-content'>
    <p>
        This checklist will help you prepare before your Quit Date.
        Be sure to do each of the following in the week before your
        Quit Date to increase your chance of success.
    </p>

    <h4>One Week Before Your Quit Date</h4>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class='step-complete-image'></div>
            <mat-card-title>Plan your reward</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class='step-complete-image'></div>
            <mat-card-title>Stop buying cigarettes</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class='step-complete-image'></div>
            <mat-card-title>Tell someone</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class='step-complete-image'></div>
            <mat-card-title>Ask for the support you need</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class='step-complete-image'></div>
            <mat-card-title>Learn the basic skills for survival</mat-card-title>
        </mat-card-header>
    </mat-card>

    <h4>One Week Before Your Quit Date</h4>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class='step-complete-image'></div>
            <mat-card-title>Clean house</mat-card-title>
        </mat-card-header>
    </mat-card>

    <h4>One Week Before Your Quit Date</h4>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class='step-complete-image'></div>
            <mat-card-title>Final preparation</mat-card-title>
        </mat-card-header>
    </mat-card>


</div>
