<h3>Risks of smoking</h3>
<div>
    <p>Did you know &hellip;</p>
    <ul>
        <li>Smoking can cause:</li>
            <ul>
                <li><b>Sexual impotence</b></li>
                <li><b>Wrinkles</b> and <b>facial aging</b></li>
                <li><b>Gum disease</b> and <b>cavities</b></li>
                <li><b>Osteoporosis</b> in women</li>
            </ul>
        <li>
            Children of smokers have more lung and breathing problems
        </li>
        <li>Smokers miss more work</li>
        <li>Smokers take longer to recover from illness </li>
        <li>Smoking can worsen depression and anxiety</li>
        <li>Smoking can cause some medications to not work as well</li>
    </ul>
</div>
<div>
    <img src='assets/steps/depression.gif' />
</div>
<div>
    <p>And smokers are</p>
    <ul>
        <li>
            10 times more likely to develop cancer of the lung,
            head and neck, bladder or cervix
        </li>
        <li>20 times more likely to develop lung disease </li>
        <li>
            Up to 5 times more likely to develop heart disease,
            stroke and blood circulation problems
        </li>
    </ul>
    <p>You can lessen these risks by quitting smoking.</p>
</div>
<div>
    <button mat-flat-button class='full-width-field' (click)="onRead();">
        Mark as read
    </button>
</div>
