<h3>What is nicotine withdrawal?</h3>
<p>
    Withdrawal is what happens when your body suddenly stops getting
    the nicotine it's become used to having.
</p>
<div>
    Common withdrawal symptoms include:
    <ul>
        <li>Cravings to smoke</li>
        <li>Mood changes (anger, irritability, sadness)</li>
        <li>Trouble concentrating</li>
        <li>Trouble sleeping</li>
        <li>Increased hunger</li>
    </ul>
</div>
<img src='assets/brain-withdrawal.gif' />
<div>
    <button mat-flat-button class='full-width-field' (click)="onRead();">
        Mark as read
    </button>
</div>
